body {
    background-color: #e5e5e5;
    color: #252828;
    font-family: 'Montserrat', sans-serif;
    /* colocar 0 para ser flexivel */
    margin: 0;
}

a {
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    /* ao colocar %, a div fica, flexibilidade ao 
    conteudo para que não encoste na pagina  */
    width: 90%;
    /* largura maxina da div em px e um valor
    fixado, mesmo que o tamanho mude */
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-right: 20px;
}

main {
    margin: 32px 0;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 32px;
}

button {
    border: none;
    background: none;
    color: #ff5E84;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}

button.fat {
    color: white;
    background: #ff5E84;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
    /* Sombra */
}

button.fat:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.ideia {
    display: flex;
    background-color: #fff;
    height: 140px;
    box-shadow: 0 4px 16px -8 rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 10px;
}

.ideia img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.ideia h3 {
    margin: 0;
}

.ideia p {
    margin: 8px 0;
    color: #777;
}

.ideia .description {
    margin: 16px 0;
}

/* Modal */


#modal {
    background-color: #ff5E84;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;


    transition: 400ms;

    
}

#modal .content {
    margin-top: 50px;
    color: white;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /*para colocar o input um do lado 
    do outro */
    display: grid;
    /* FR flexivel */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* 
    aqui é uma função para modificar o input 
    dentro do parentes coloco o numeor que eu quero que 
    seja alterado. dentro do grid
*/

.content form div:nth-child(3), .content form div:nth-child(4), .content form div:nth-child(5) {
    /* Aqui pesso uma espação para as duas 
    colunas. span (espaçamento) 2 e o numero 
    de coluna para pegar */
    grid-column: span 2;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;
    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #ffffff22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: bold;

    /* função dentro do grid 
    lado oposto*/
    align-self: end;
}

form a:hover{
    background-color: #fff;
    color: #ff5E84;
    text-decoration: none;

     /* para ficar suava na hora de passar o mouser */
     transition: 400ms;
}

form button {
    background: white;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    /* para mover algo de lugar usando o grid */
    grid-column: 2;
    /*  aqui em peço no grid que ele se mova para 
    lado*/
    justify-self: end;
}

form button:hover {
    background-color: #0984e3;
    color: white;
    text-decoration: none;

    /* para ficar suava na hora de passar o mouser */
    transition: 400ms;
}

/*  */
#modal.hide {
    opacity: 2;
    visibility: hidden;

}